body {
  background-color: rgb(12, 12, 12);
  overflow-x: hidden;
  /* font-family: aktiv-grotesk, sans-serif; */
  font-family: Futura, sans-serif;
  font-style: normal;

  margin: 0;
}

html {
  scroll-behavior: smooth;
  max-width: 2400px;
  display: flex;
  justify-content: center;
}

h1 {
  text-transform: uppercase;
  font-weight: 700;
}

#productContainer {
  width: 60%;
}

/********* Grid Setup *************/

.wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 1.6px;

  text-rendering: optimizeLegibility;
  grid-template-areas:
    "Navigation"
    "heroImage"
    "aboutSection"
    "product1"
    "product2"
    "product5"
    "product4"
    "product3"
    "product6"
    "contact";

  /* max-width: 2000px; */
}

/********NavBar********************/
#mobileNav {
  display: none;
}
#Navigation {
  grid-area: Navigation;
  text-transform: uppercase;
  font-weight: 400;
  z-index: 6;
  background-color: black;
}

#navBar li {
  display: inline;
  margin-left: 6rem;
}

#navBar li img {
  height: 2.5em;
  margin-top: -0.5em;
  margin-left: 5em;
}

#navBar a {
  text-decoration: none;
  color: white;
}

#Navigation img {
  position: absolute;
  height: 3em;
  z-index: 5;
  background-color: white;
  padding: 0.05em;
  border-radius: 5px;
  margin-left: 5em;
  margin-top: 1em;
}

#navBar {
  text-align: center;
  margin-left: 5em;
  width: 100%;
  padding-top: 2.5em;
  height: 2.5em;
}

/********* About Section *************/

#aboutSection {
  grid-area: aboutSection;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  margin-top: -8em;
}

#austinSquat {
  position: relative;
  width: 100%;
  margin-top: -0.5em;
  margin-bottom: 6em;
  grid-area: heroImage;
  animation-name: scale-in;
  animation-duration: 1s;
}

@keyframes scale-in {
  0% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes heroImageText {
  from {
    transform: translateX(100px);
    opacity: 0.15;
  }
  to {
    transform: translateX(10px);
    opacity: 1;
  }
}

#heroImage h1 {
  font-weight: 600;
  font-size: 4.5rem;
}

#heroImage h2 {
  font-weight: 500;
  font-size: 2.5rem;
}

#heroImage h3 {
  font-weight: 300;
}

#heroImageText button {
  border: 1.6px solid white;
  padding: 0.5em;
  color: white;
  font-size: 1rem;
  background-color: black;
  text-transform: uppercase;
  cursor: pointer;
}

#heroImageText {
  text-align: right;
  color: white;
  position: absolute;
  z-index: 2;
  margin-left: 45%;
  margin-top: 10%;
  text-transform: uppercase;
}

#heroImage {
  width: 100%;
  position: relative;
}

#aboutSection img {
  height: 20%;
  border-radius: 5px;
}

#nscaLogo img {
  height: 3em;
  margin-left: 1em;
}

#nscaLogo {
  margin-left: -5em;
}

br {
  background-color: white;
}

#logo1 {
  padding-left: 5em;
}

#aboutSection1 {
  background-color: white;
  margin-top: 3em;
  padding: 1em;
  width: 45em;
  margin-bottom: 30em;

  border-radius: 5px;
}

@media (min-width: 600px) {
  #product1 {
    width: 95em;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #product2 {
    width: 95em;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #product3 {
    width: 95em;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #product4 {
    width: 95em;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #product5 {
    width: 95em;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #product6 {
    width: 95em;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/******** Products ****************/
#product1 {
  grid-area: product1;
  margin-top: -30em;
}

#workout1 {
  position: relative;
}

#workout1 video {
  float: right;
  height: 22em;
  margin-top: 2em;
  margin-right: 15rem;
  border-radius: 5px;
}

#product1Wrapper {
  width: 28em;
  margin-left: 22em;
  margin-top: 5em;
}

#product1Wrapper h1 {
  color: white;
}

#product1Wrapper p {
  color: white;
}

#buttonPrice {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

/************** Product 2 *******************/
#product2 {
  padding-bottom: 5em;
  grid-area: product2;
}

#product2Wrapper {
  width: 28em;
  float: right;
  margin-right: 20em;
}

#product2 p {
  color: white;
}

#workout2 {
  position: relative;
}

#workout2 video {
  float: left;
  height: 22em;
  margin-left: 18em;
  border-radius: 5px;
}

#product2 h1 {
  color: white;
}

#buttonPrice2 {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

/************** Product 3 *******************/
#product3 {
  padding-bottom: 5em;
  grid-area: product3;
}

#product3 p {
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 35em;
}

#product3 h1 {
  color: white;
  text-align: center;
  width: 15em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#buttonPrice3 {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

/************** Product 4 *******************/
#product4 {
  padding-bottom: 5em;
  grid-area: product4;
}

#buttonPrice4 {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

#product4 p {
  color: white;
  text-align: center;
  width: 35em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

/* #workout4 img {
  float: left;
  height: 20em;
  margin-left: 10em;
  border-radius: 5px;
} */

#product4 h1 {
  color: white;
  text-align: center;
  width: 15em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
}

/************** Product 5 *******************/
#product5 {
  padding-bottom: 5em;
  grid-area: product5;
}

#buttonPrice5 {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

#product5Wrapper {
  width: 28em;
  margin-left: 20em;
  margin-top: 5em;
}

#product5 p {
  color: white;
}

#workout5 {
  position: relative;
}

#workout5 video {
  float: right;
  height: 22em;
  margin-right: 15%;
  border-radius: 5px;
}

#product5 h1 {
  color: white;
}

/************** Product 6 *******************/
#product6 {
  padding-bottom: 5em;
  grid-area: product6;
}

#product6 p {
  color: white;
  text-align: center;
  width: 35em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#product6 h1 {
  color: white;
  text-align: center;
  width: 15em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#buttonPrice6 {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

/************** Contact *******************/

#contact {
  grid-area: contact;
  background-color: rgb(65, 65, 65);
  padding-top: 10em;
  padding-bottom: 10em;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#contact-social img {
  height: 3em;
}

#contact-social a {
  text-decoration: none;
  margin: 1em;
}

#contact-social {
  margin-left: 10em;
  border-style: solid;
  border-width: 2px;
  padding: 3em;
  border-radius: 5px;
}

#shareLogo {
  height: 4em;
  position: absolute;
  margin-top: -2em;
  margin-left: 4em;
  background-color: white;
  border-radius: 50%;
}

#contact-call {
  margin-left: 10em;
  border-style: solid;
  border-width: 2px;
  padding: 3em;
  border-radius: 5px;
}

#contact-call img {
  height: 4em;
  position: absolute;
  margin-top: -5em;
  margin-left: -2em;
  background-color: white;
  border-radius: 50%;
}

#email {
  border-style: solid;
  border-width: 2px;
  padding: 3em;
  border-radius: 5px;
}

#email img {
  height: 4em;
  position: absolute;
  margin-top: -5em;
  margin-left: -2em;
}

/********** Mobile SetUp **************/

@media (max-width: 600px) {
  body {
    overflow-x: hidden;
  }

  html {
    zoom: 50%;
  }

  @viewport {
  }

  #heroImage {
    width: 100%;
  }

  #austinSquat {
    width: 100%;
    height: auto;
  }

  #heroImage h1 {
    font-weight: 600;
    font-size: 2.8rem;
  }

  #heroImage h2 {
    font-weight: 500;
    font-size: 1.2rem;
  }

  #heroImage h3 {
    font-weight: 300;
    font-size: 1.1rem;
  }

  #heroImageText button {
    border: 1.6px solid white;
    padding: 0.5em;
    color: white;
    font-size: 1rem;
    background-color: black;
    text-transform: uppercase;
  }

  #heroImageText {
    text-align: right;
    color: rgb(255, 255, 255);
    position: absolute;
    z-index: 2;
    left: 35%;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 0;

    text-transform: uppercase;
  }

  #product1 {
    margin-top: 0em;
  }

  #product1 button {
    font-size: 25px;
  }

  #product2 button {
    font-size: 25px;
  }

  #product3 button {
    font-size: 25px;
  }

  #product4 button {
    font-size: 25px;
  }

  #product5 button {
    font-size: 25px;
  }

  #product6 button {
    font-size: 25px;
  }

  #Navigation {
    display: none;
  }

  #aboutSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    text-align: center;
  }

  #aboutSection {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
  }

  #aboutSection h1 {
    font-size: 2.8rem;
  }

  #aboutSection p {
    font-size: 1.8rem;
  }

  #nscaLogo {
    margin-top: 1em;
    margin-bottom: -5em;
  }

  #nscaLogo img {
    height: 6em;
    margin-left: 1em;
    padding-bottom: 5em;
  }

  #aboutSection img {
    margin: 0;
  }

  #product1Wrapper,
  #product2Wrapper,
  #product5Wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  #product1,
  #product2,
  #product5 {
    margin-left: 10%;
    margin-right: 10%;
  }

  #product1 p {
    margin-right: 0;
    margin-left: 0;
    font-size: 25px;
  }

  #workout1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    margin-top: -25em;
  }

  #workout2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
  }

  #workout3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
  }

  #workout4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
  }

  #workout5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
  }

  #workout6 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
  }

  #workout1 h1 {
    font-size: 2.5em;
  }

  #workout1 video {
    margin-left: 0;
    margin-right: 0;
  }

  #workout2 video {
    margin-left: 0;
    margin-right: 0;
  }

  #product2 p {
    margin-right: 0;
    margin-left: 0;
    font-size: 25px;
    width: 25em;
  }

  #workout3 img {
    margin-left: 0;
    margin-right: 0;
  }

  #product3 p {
    margin-right: 0;
    margin-left: 0;
    font-size: 25px;
    width: 25em;
  }

  #workout4 img {
    margin-left: 0;
    margin-right: 0;
  }

  #product4 p {
    margin-right: 0;
    margin-left: 0;
    font-size: 25px;
    width: 25em;
  }

  #workout5 video {
    margin-left: 0;
    margin-right: 0;
  }

  #product5 p {
    margin-right: 0;
    margin-left: 0;
    font-size: 25px;
    width: 25em;
  }

  #workout6 img {
    margin-left: 0;
    margin-right: 0;
  }

  #product6 p {
    margin-right: 0;
    margin-left: 0;
    font-size: 25px;
    width: 25em;
  }

  #contact {
    flex-direction: column;
  }

  #email {
    margin-bottom: 5em;
    margin-left: 10em;
    margin-right: 10em;
  }

  #contact-social {
    margin-bottom: 5em;
    margin-left: 10em;
    margin-right: 10em;
  }

  #shareLogo {
    display: none;
  }

  #contact-call {
    margin-left: 10em;
    margin-right: 10em;
  }

  #product1,
  #product2,
  #product3,
  #product4,
  #product5,
  #product6 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
  }

  #navBar {
    display: none;
  }

  #mobileNav {
    display: block;
    z-index: 100;
    background-color: black;
  }

  #mobileNav img {
    display: block;
    position: relative;
    margin-right: 0;
    left: 3em;
    font-size: 1.5rem;
    padding-bottom: 0.3em;
    height: 6em;
    margin-top: 1.5em;
    background-color: white;
  }
}

/*************** Mobile Nav ******************/

.side_nav {
  width: 200px;
  height: 100vh;
  position: fixed;
  right: -200px;
  top: 0px;
  background: #3d3d3d;
  z-index: 3;
  padding-top: 100px;

  transition: 0.5s;
}

.side_nav ul li {
  text-transform: uppercase;
  color: black;
  list-style: none;
  opacity: 100%;
  margin: 40px;
  width: 100%;
  letter-spacing: 1.2px;
  cursor: pointer;
}

.side_nav ul a {
  color: #fdf8f5;
  text-decoration: none;
  margin-right: 60px;
  margin-top: 25px;
}

#menu_icon {
  width: 120px;
  margin-top: 10px;
}

.menu-btn {
  position: fixed;
  display: flex;
  right: 35px;

  z-index: 3;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.menu-btn_hamburger {
  padding-right: 30px;

  height: 6px;
  background: rgb(255, 255, 255);
  /* border-radius: 5px; */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
  transition: all 0.5s ease-in-out;
}

.menu-btn_hamburger::before,
.menu-btn_hamburger::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 6px;
  background: rgb(255, 255, 255);
  /* border-radius: 5px; */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
  transition: all 0.5s ease-in-out;
}

.menu-btn_hamburger::before {
  transform: translateY(-16px);
}

.menu-btn_hamburger::after {
  transform: translateY(16px);
}

/* ANIMATION */

.menu-btn.open .menu-btn_hamburger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.menu-btn.open .menu-btn_hamburger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn_hamburger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.menu_icon {
  width: 30px;
  position: fixed;
  right: 15em;
  top: 30px;
  z-index: 2;
  cursor: pointer;
}

.menu-btn {
  width: 50px;
  height: 50px;
}

.menu-btn {
  top: 30px;
}
