body {
  background-color: rgb(12, 12, 12);
  overflow-x: hidden;
  /* font-family: aktiv-grotesk, sans-serif; */
  font-family: Futura, sans-serif;
  font-style: normal;
  margin-left: 0;
  margin-top: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
  /* max-width: 2400px; */
  display: flex;
  justify-content: center;
}

h1 {
  text-transform: uppercase;
  font-weight: 700;
}

/********* Grid Setup *************/

.wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 1.6px;

  text-rendering: optimizeLegibility;
  grid-template-areas:
    "Navigation"
    "heroImage"
    "aboutSection"
    "product1"
    "product2"
    "product5"
    "product4"
    "product6"
    "contact";

  /* max-width: 2000px; */
}

/********NavBar********************/
#mobileNav {
  display: none;
}
#Navigation {
  grid-area: Navigation;
  position: fixed;
  text-transform: uppercase;
  font-weight: 600;
  z-index: 6;
  background-color: black;
  width: 100%;
}

#navBar li {
  display: inline;
  margin-left: 6em;
}

#navBar li:hover {
  border-bottom: solid 5px #d8384d;
  padding-bottom: 10px;
  transition-duration: 100ms;
}

#navBar li img {
  height: 2.5em;
  margin-top: -0.5em;
  margin-left: 5em;
  padding: 2px;
  border-radius: 25%;
}

#navBar a {
  text-decoration: none;
  color: white;
}

#Navigation img {
  position: absolute;
  height: 3em;
  z-index: 5;
  background-color: white;
  padding: 0.05em;
  border-radius: 5px;
  margin-left: 5em;
  margin-top: 1em;
}

#navBar {
  text-align: center;
  margin-left: 5em;
  padding-top: 2em;
  height: 2.5em;
  background-color: black;
}

/********* About Section *************/

#austinSquat {
  position: relative;
  width: auto;
  max-width: 100%;
  height: auto;
  margin-top: 3em;
  grid-area: heroImage;
  animation-name: scale-in;
  animation-duration: 1s;
  opacity: 0.65;
}

/* @keyframes scale-in {
  0% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
} */

/* @keyframes heroImageText {
  from {
    transform: translateX(100px);
    opacity: 0.15;
  }
  to {
    transform: translateX(-70px);
    opacity: 1;
  }
} */

#heroImage h1 {
  font-weight: 850;
  font-size: 6rem;
}

#heroImage h2 {
  font-weight: 600;
  font-size: 3rem;
}

#heroImage h3 {
  font-weight: 400;
}

#heroImageText button {
  border: 1.6px solid white;
  padding: 0.5em;
  color: white;
  font-size: 1.2rem;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
}

#heroImageText {
  text-align: right;
  color: white;
  position: absolute;
  z-index: 2;
  margin-top: 15%;
  margin-left: 30%;
  text-transform: uppercase;
}

#heroImage {
  width: 100%;
  position: relative;
}

#aboutSection img {
  height: 20%;
  border-radius: 5px;
}

#nscaLogo img {
  height: 3em;
  background-color: white;
  padding: 1px;
  margin: 3px;
}

br {
  background-color: white;
}

#logo1 {
  padding-left: 5em;
}

#aboutSection1 {
  background-color: rgb(12, 12, 12);
  color: white;
  margin-top: 3em;
  padding: 1em;
  width: 60%;
  margin-bottom: 30em;
  border-radius: 5px;
}

@media (min-width: 600px) {
  #product1 {
    width: 95em;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #product2 {
    width: 95em;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #product4 {
    width: 95em;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #product5 {
    width: 95em;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #product6 {
    width: 95em;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/******** Products ****************/
#programHeader {
  color: white;
  display: none;
  padding-top: 45px;
  text-align: center;
  font-size: 2em;
  font-weight: 900;
}

#product1 {
  grid-area: product1;
  margin-top: 1em;
  margin-bottom: 5em;
}

#workout1 {
  position: relative;
}

#workout1 img {
  float: right;
  height: 28em;
  margin-top: 2em;
  margin-right: 5em;
  border-top: 2px solid #d8384d;
  border-right: 2px solid #d8384d;
  padding-right: 15px;
  padding-top: 15px;
}

#product1Wrapper {
  width: 28em;
  margin-left: 10em;
  margin-bottom: 5em;
  margin-top: 5em;
}

#product1Wrapper h1 {
  color: white;
  font-size: 3rem;
  font-weight: 900;
}

#product1Wrapper p {
  color: white;
  font-size: 1.2rem;
}

#buttonPrice {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #d8384d;
  border-left: 2px solid #d8384d;
  color: #d8384d;
  padding: 10px 10px;
  padding-right: 20em;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  text-align: left;
  font-weight: 600;
}

#buttonPrice:hover {
  background-color: #d8384d;
  color: white;
  transition: 0.3s;
}

/************** Product 2 *******************/
#product2 {
  margin-bottom: 6em;
  grid-area: product2;
}

#product2Wrapper {
  width: 28em;
  float: right;
  margin-right: 10em;
}

#product2 p {
  color: white;
  font-size: 1.2rem;
}

#workout2 {
  position: relative;
}

#workout2 img {
  float: left;
  height: 28em;
  width: 40em;
  margin-left: 10em;
  margin-top: 1.3em;
  border-top: 2px solid #d8384d;
  border-left: 2px solid #d8384d;
  padding-left: 15px;
  padding-top: 15px;
}

#product2 h1 {
  color: white;
  font-size: 3rem;
  font-weight: 900;
}

#buttonPrice2 {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #d8384d;
  border-left: 2px solid #d8384d;
  color: #d8384d;
  padding: 10px 10px;
  padding-right: 20em;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  text-align: left;
  font-weight: 600;
}

#buttonPrice2:hover {
  background-color: #d8384d;
  color: white;
  transition: 0.3s;
}

/************** Product 4 *******************/
#product4 {
  padding-bottom: 5em;
  grid-area: product4;
}

#buttonPrice4 {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #d8384d;
  border-left: 2px solid #d8384d;
  border-right: 2px solid #d8384d;
  color: #d8384d;
  padding: 10px 10px;
  padding-right: 10em;
  padding-left: 10em;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  text-align: left;
  font-weight: 600;
}

#buttonPrice4:hover {
  background-color: #d8384d;
  color: white;
  transition: 0.3s;
}

#product4 p {
  color: white;
  text-align: center;
  width: 35em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

/* #workout4 img {
  float: left;
  height: 20em;
  margin-left: 10em;
  border-radius: 5px;
} */

#product4 h1 {
  color: white;
  text-align: center;
  width: 15em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  font-size: 3rem;
  font-weight: 900;
}

/************** Product 5 *******************/
#product5 {
  padding-bottom: 1em;
  grid-area: product5;
}

#buttonPrice5 {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #d8384d;
  border-left: 2px solid #d8384d;
  color: #d8384d;
  padding: 10px 10px;
  padding-right: 20em;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  text-align: left;
}

#buttonPrice5:hover {
  background-color: #d8384d;
  color: white;
  transition: 0.3s;
}

#product5Wrapper {
  width: 28em;
  margin-left: 10em;
}

#product5 p {
  color: white;
  font-size: 1.2rem;
}

#workout5 {
  position: relative;
}

#workout5 img {
  float: right;
  height: 22em;
  margin-right: 5em;
  border-top: 2px solid #d8384d;
  border-right: 2px solid #d8384d;
  padding-right: 15px;
  padding-top: 15px;
  height: 28em;
}

#product5 h1 {
  color: white;
  font-size: 3rem;
  font-weight: 900;
}

/************** Product 6 *******************/
#product6 {
  padding-bottom: 5em;
  grid-area: product6;
}

#product6 p {
  color: white;
  text-align: center;
  width: 35em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#product6 h1 {
  color: white;
  text-align: center;
  width: 15em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 3rem;
  font-weight: 900;
}

#buttonPrice6 {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #d8384d;
  border-left: 2px solid #d8384d;
  border-right: 2px solid #d8384d;
  color: #d8384d;
  padding: 10px 10px;
  padding-right: 10em;
  padding-left: 10em;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  text-align: left;
}

#buttonPrice6:hover {
  background-color: #d8384d;
  color: white;
  transition: 0.3s;
}

/************** Contact *******************/

#contact {
  grid-area: contact;
  background-color: rgb(238, 232, 232);
  padding-top: 10em;
  padding-bottom: 10em;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#contact-social img {
  height: 3em;
}

#contact-social a {
  text-decoration: none;
  margin: 1em;
}

#contact-social {
  margin-left: 10em;
  border-style: solid;
  border-width: 2px;
  padding: 3em;
  border-color: black;
}

#shareLogo {
  height: 4em;
  position: absolute;
  margin-top: -2em;
  margin-left: 4em;
  background-color: white;
  border-radius: 50%;
}

#contact-call {
  margin-left: 10em;
  border-style: solid;
  border-width: 2px;
  padding: 3em;
  border-color: black;
}

#contact-call img {
  height: 4em;
  position: absolute;
  margin-top: -5em;
  margin-left: -2em;
  background-color: white;
  border-radius: 50%;
}

#email {
  border-style: solid;
  border-width: 2px;
  padding: 3em;
  border-color: black;
}

#email img {
  height: 4em;
  position: absolute;
  margin-top: -5em;
  margin-left: -2em;
}

/********** Mobile SetUp **************/

@media (max-width: 600px) {
  body {
    overflow-x: hidden;
  }

  #buttonPrice,
  #buttonPrice2,
  #buttonPrice5 {
    padding-right: 15em;
  }

  #buttonPrice3,
  #buttonPrice4,
  #buttonPrice6 {
    padding-left: 5em;
    padding-right: 5em;
  }

  #aboutSection1 {
    width: 90%;
  }

  #heroImage {
    /* width: 100%; */
    margin-top: 5em;
    margin-bottom: 45em;
  }

  #austinSquat {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    height: 200%;
    width: 200%;
  }

  #heroImageText h1 {
    font-weight: 600;
    font-size: 5.8em;
  }

  #heroImage h2 {
    font-weight: 500;
    font-size: 3.5em;
  }

  #heroImage h3 {
    font-weight: 300;
    font-size: 2em;
  }

  #heroImageText button {
    border: 1.6px solid white;
    padding: 0.5em;
    color: white;
    font-size: 1.8em;
    background-color: transparent;
    text-transform: uppercase;
  }

  #heroImageText {
    text-align: right;
    color: rgb(255, 255, 255);
    background-color: transparent;
    position: absolute;
    z-index: 2;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    text-transform: uppercase;
  }

  /* @keyframes heroImageText {
    from {
      transform: translateX(140px);
      opacity: 0.15;
    }
    to {
      transform: translateX(-30em);
      opacity: 1;
    }
  } */

  #programHeader {
    /* border-top: 2px solid #d8384d; */
    /* padding-top: 65px; */
    /* margin-top: 1em; */
    font-size: 2.2em;
  }

  #product1 {
    margin-top: 25em;
  }

  #product1 button {
    font-size: 1em;
  }

  #product2 button {
    font-size: 1em;
  }

  #product4 button {
    font-size: 1em;
  }

  #product5 button {
    font-size: 1em;
  }

  #product6 button {
    font-size: 1em;
  }

  #Navigation {
    display: none;
  }

  #aboutSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    text-align: left;
  }

  #aboutSection {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
  }

  #aboutSection h1 {
    font-size: 4em;
  }

  #aboutSection p {
    font-size: 2.3em;
  }

  #nscaLogo {
    margin-top: 1em;
  }

  #nscaLogo img {
    height: 6em;
    margin-left: 1em;
  }

  #aboutSection img {
    margin: 0;
  }

  #product1Wrapper,
  #product2Wrapper,
  #product5Wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  #product1,
  #product2,
  #product5 {
    margin-left: 10%;
    margin-right: 10%;
  }

  #product1 p {
    margin-right: 0;
    margin-left: 0;
    font-size: 2.2em;
  }

  #product2 p {
    margin-right: 0;
    margin-left: 0;
    font-size: 2.2em;
  }

  #product5 p {
    margin-right: 0;
    margin-left: 0;
    font-size: 2.2em;
  }

  #product2 h1 {
    font-size: 4em;
    font-weight: 850;
  }

  #product1 h1 {
    font-size: 4em;
    font-weight: 850;
  }

  #product5 h1 {
    font-size: 4em;
    font-weight: 850;
  }

  #product4 h1,
  #product6 h1 {
    font-size: 4em;
    font-weight: 850;
  }

  #product4 p,
  #product6 p {
    margin-right: 0;
    margin-left: 0;
    font-size: 2.2em;
  }

  #workout1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    margin-top: -25em;
  }

  #workout2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
  }

  #workout3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
  }

  #workout4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
  }

  #workout5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
  }

  #workout6 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
  }

  #workout1 h1 {
    font-size: 2.5em;
  }

  #workout1 img {
    margin-left: 0;
    margin-right: 0;
    width: 110%;
    height: inherit;
    border-top: 2px solid #d8384d;
    border-left: 2px solid #d8384d;
    border-right: transparent;
    padding-right: 0px;
    padding-left: 15px;
    padding-top: 15px;
  }

  #workout2 img {
    margin-left: 0;
    margin-right: 0;
    width: 110%;
    height: inherit;
    border-top: 2px solid #d8384d;
    border-left: 2px solid #d8384d;
    padding-left: 15px;
    padding-top: 15px;
  }

  #product2 p {
    margin-right: 0;
    margin-left: 0;
    width: 25em;
  }

  #workout3 img {
    margin-left: 0;
    margin-right: 0;
  }

  #workout4 img {
    margin-left: 0;
    margin-right: 0;
  }

  #product4 p {
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    width: 25em;
  }

  #workout5 img {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: inherit;
    border-top: 2px solid #d8384d;
    border-left: 2px solid #d8384d;
    padding-left: 15px;
    padding-top: 15px;
    border-right: transparent;
    padding-right: 0px;
  }

  #product5 p {
    margin-right: 0;
    margin-left: 0;
    width: 25em;
  }

  #workout6 img {
    margin-left: 0;
    margin-right: 0;
  }

  #product6 p {
    margin-right: 0;
    margin-left: 0;
    width: 25em;
  }

  #contact {
    flex-direction: column;
  }

  #email {
    margin-bottom: 5em;
    margin-left: 10em;
    margin-right: 10em;
  }

  #email h3,
  #contact-social h3,
  #contact-call h3 {
    font-size: 3em;
  }

  #email p,
  #contact-call p {
    font-size: 2em;
  }

  #contact-social {
    margin-bottom: 5em;
    margin-left: 10em;
    margin-right: 10em;
  }

  #shareLogo {
    display: none;
  }

  #contact-call {
    margin-left: 10em;
    margin-right: 10em;
  }

  #product1,
  #product2,
  #product4,
  #product5,
  #product6 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
  }

  #navBar {
    display: none;
  }

  #mobileNav {
    display: block;
    z-index: 100;
    margin-bottom: 1em;
  }

  #mobileNav img {
    display: block;
    position: relative;
    margin-right: 0;
    left: 3em;
    font-size: 1.5rem;
    height: 6em;
    margin-top: 1.5em;
    background-color: white;
  }
}

/*************** Mobile Nav ******************/

.side_nav {
  width: 360px;
  height: 300vh;
  position: fixed;
  right: -360px;
  top: 0px;
  background: #d8384d;
  z-index: 3;
  padding-top: 100px;
  transition: 0.5s;
  padding-top: 75px;
}

.side_nav ul {
  margin-top: 100px;
}

.side_nav ul li {
  text-transform: uppercase;
  font-size: 2.3em;
  padding-top: 50px;
  font-weight: 800;
  color: black;
  list-style: none;
  opacity: 100%;
  margin: 40px;
  width: 100%;
  letter-spacing: 1.2px;
  cursor: pointer;
}

.side_nav ul a {
  color: #ffffff;
  text-decoration: none;
  margin-right: 60px;
}

#menu_icon {
  width: 120px;
  margin-top: 25px;
}

.menu-btn {
  position: fixed;
  display: flex;
  right: 35px;

  z-index: 3;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.menu-btn_hamburger {
  padding-right: 80px;
  height: 6px;
  margin: 50px;
  background: rgb(255, 255, 255);
  /* border-radius: 5px; */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
  transition: all 0.5s ease-in-out;
}

.menu-btn_hamburger::before,
.menu-btn_hamburger::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 6px;
  background: rgb(255, 255, 255);
  /* border-radius: 5px; */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
  transition: all 0.5s ease-in-out;
}

.menu-btn_hamburger::before {
  transform: translateY(-16px);
}

.menu-btn_hamburger::after {
  transform: translateY(16px);
}

/* ANIMATION */

.menu-btn.open .menu-btn_hamburger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.menu-btn.open .menu-btn_hamburger::before {
  transform: rotate(45deg) translate(35px, -35px);
  height: 12px;
}

.menu-btn.open .menu-btn_hamburger::after {
  transform: rotate(-45deg) translate(35px, 35px);
  height: 12px;
}

.menu_icon {
  width: 30px;
  position: fixed;
  right: 15em;
  top: 30px;
  z-index: 2;
  cursor: pointer;
}

.menu-btn {
  width: 50px;
  height: 50px;
}

.menu-btn {
  top: 50px;
  right: 70px;
}
