body {
  background-color: grey;
  margin: 0;
  font-family: aktiv-grotesk, sans-serif;
  font-style: normal;
  font-weight: 200;
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

/********* Grid Setup *************/

.wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 1.6px;

  text-rendering: optimizeLegibility;
  grid-template-areas:
    "Navigation"
    "aboutSection"
    "product1"
    "product2"
    "product3"
    "product4"
    "product5"
    "product6"
    "contact";
}

/********NavBar********************/
#Navigation {
  grid-area: Navigation;
}

#navBar li {
  display: inline;
  margin-left: 6rem;
}

#navBar li img {
  height: 2.5em;
  margin-top: -0.5em;
  margin-left: 10em;
}

#navBar a {
  text-decoration: none;
  color: black;
}

#Navigation img {
  position: absolute;
  height: 6em;
  margin-left: 5em;
  margin-top: 1em;
}

#navBar {
  text-align: center;
  margin-left: 5em;
  width: 100%;
  padding-top: 2.5em;
  height: 2.5em;
}

/********* About Section *************/

#aboutSection {
  grid-area: aboutSection;
}

#aboutSection img {
  height: 60vh;
  float: left;
  margin-left: 10em;
  margin-top: 5em;
}

#nscaLogo img {
  height: 3em;
  margin-left: 1em;
}

#nscaLogo {
  margin-top: -5em;
  margin-left: -5em;
}

br {
  background-color: white;
}

#logo1 {
  padding-left: 5em;
}

#aboutSection1 {
  background-color: white;
  margin-top: 6.5em;
  padding: 1em;
  width: 45em;
  float: right;
  margin-right: 3em;
}

/******** Products ****************/
#product1 {
  grid-area: product1;
}

#workout1 {
  position: relative;
}

#workout1 img {
  float: right;
  height: 40vh;
  margin-right: 5em;
}

#workout1 h1 {
  background-color: white;
  padding: 1em;
  text-align: center;
  width: 15em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
}

#product1 p {
  background-color: white;
  padding: 1em;
  text-align: center;
  width: 40em;
  float: left;
  margin-left: 10em;
  margin-top: 4em;
  padding-bottom: 2em;
}

#buttonPrice {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

/************** Product 2 *******************/
#product2 {
  padding-bottom: 5em;
  grid-area: product2;
}

#product2 p {
  background-color: white;
  padding: 1em;
  text-align: center;
  width: 40em;
  float: right;
  margin-right: 5em;
  margin-top: 2em;
  padding-bottom: 2em;
}

#workout2 {
  position: relative;
}

#workout2 img {
  float: left;
  height: 40vh;
  margin-left: 5em;
}

#workout2 h1 {
  background-color: white;
  padding: 1em;
  text-align: center;
  width: 15em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7em;
}
#buttonPrice2 {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/************** Product 3 *******************/
#product3 {
  padding-bottom: 5em;
  grid-area: product3;
}

#product3 p {
  background-color: white;
  padding: 1em;
  text-align: center;
  width: 40em;
  float: left;
  margin-left: 6em;
  margin-top: 4em;
  padding-bottom: 2em;
}

#workout3 {
  position: relative;
}

#workout3 img {
  float: right;
  height: 40vh;
  margin-right: 5em;
}

#workout3 h1 {
  background-color: white;
  padding: 1em;
  text-align: center;
  width: 15em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;
}

#buttonPrice3 {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/************** Product 4 *******************/
#product4 {
  padding-bottom: 5em;
  grid-area: product4;
}

#buttonPrice4 {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#product4 p {
  background-color: white;
  padding: 1em;
  text-align: center;
  width: 45em;
  float: right;
  margin-right: 5em;
  margin-top: 4em;
}

#workout4 {
  position: relative;
}

#workout4 img {
  float: left;
  height: 40vh;
  margin-left: 5em;
}

#workout4 h1 {
  background-color: white;
  padding: 1em;
  text-align: center;
  width: 15em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
}

/************** Product 5 *******************/
#product5 {
  padding-bottom: 5em;
  grid-area: product5;
}

#buttonPrice5 {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#product5 p {
  background-color: white;
  padding: 1em;
  text-align: center;
  width: 45em;
  float: left;
  margin-left: 5em;
  margin-top: 4em;
}

#workout5 {
  position: relative;
}

#workout5 img {
  float: right;
  height: 40vh;
  margin-right: 5em;
}

#workout5 h1 {
  background-color: white;
  padding: 1em;
  text-align: center;
  width: 15em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
}

/************** Product 6 *******************/
#product6 {
  padding-bottom: 5em;
  grid-area: product6;
}

#product6 p {
  background-color: white;
  padding: 1em;
  text-align: center;
  width: 45em;
  float: right;
  margin-right: 5em;
  margin-top: 4em;
}

#workout6 {
  position: relative;
}

#workout6 img {
  float: left;
  height: 40vh;
  margin-left: 5em;
}

#workout6 h1 {
  background-color: white;
  padding: 1em;
  text-align: center;
  width: 15em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
}

#buttonPrice6 {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/************** Contact *******************/

#contact {
  grid-area: contact;
  padding-top: 10em;
  padding-bottom: 10em;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#contact-social img {
  height: 3em;
}

#contact-social a {
  text-decoration: none;
  margin: 1em;
}

#contact-social {
  margin-left: 10em;
  border-style: solid;
  border-width: 2px;
  padding: 3em;
}

#shareLogo {
  height: 4em;
  position: absolute;
  margin-top: -2em;
  margin-left: 4em;
  background-color: white;
  border-radius: 50%;
}

#contact-call {
  margin-left: 10em;
  border-style: solid;
  border-width: 2px;
  padding: 3em;
}

#contact-call img {
  height: 4em;
  position: absolute;
  margin-top: -5em;
  margin-left: -2em;
  background-color: white;
  border-radius: 50%;
}

#email {
  border-style: solid;
  border-width: 2px;
  padding: 3em;
}

#email img {
  height: 4em;
  position: absolute;
  margin-top: -5em;
  margin-left: -2em;
}
